{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
<section class="container d-flex align-items-center justify-content-between" style="margin-top:100px;">   <div class="col-md-6">
    <h1>Ajouter une  reservation</h1>
</section>
    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">Retour à la liste</a>
{% endblock %}
