{% extends 'base.html.twig' %}

{% block title %}New Train{% endblock %}

{% block body %}
<section class="container d-flex align-items-center justify-content-between" style="margin-top:100px;">   <div class="col-md-6">
    <h1>Nouveau Train</h1>
</section>
    {{ include('train/_form.html.twig') }}

    <a href="{{ path('train_index') }}">retour à la liste</a>
{% endblock %}
